{% extends "base.html.twig" %}

{% block content %}{% endblock %}
{% block error %}
    <div class="alert alert-danger mt-4">
        <b><i class="fas fa-exclamation-triangle"></i> Error</b> Fehler beim Laden der Daten!
    </div>
{% endblock %}